AWS_REGION=ap-southeast-1
AWS_PROFILE=finhack_IsbUsersPS-393886308397
TRANSCRIBE_INPUT_BUCKET=replace-with-your-existing-bucket
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
TRANSCRIBE_JOB_TIMEOUT_SECONDS=180